<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="UIPrincipal.Properties.Settings.ORDEMSERVICOConnectionString" connectionString="Data Source=EVANDERSON\SQLEXPRESS;Initial Catalog=ORDEMSERVICO;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="UIPrincipal.Properties.Settings.ORDEMSERVICOConnectionStringFunciona" connectionString="Data Source=TLD-AUX-SU-006\SQLEXPRESS;Initial Catalog=ORDEMSERVICO;User ID=sa;Password=Senailab05" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="luz" value="TESTE DE LEITURA TESTE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>