<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UIPrincipal.Properties.Settings.ORDEMSERVICOConnectionString"
            connectionString="Data Source=EVANDERSON\SQLEXPRESS;Initial Catalog=ORDEMSERVICO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UIPrincipal.Properties.Settings.ORDEMSERVICOConnectionStringFunciona"
            connectionString="Data Source=TLD-AUX-SU-006\SQLEXPRESS;Initial Catalog=ORDEMSERVICO;User ID=sa;Password=Senailab05"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>